<div id="nnvsvc-csn-player">
  <div class="button-wrapper">
    <span class="toggle-panel">&gt;</span>
  </div>
  <div class="search-wrapper">
    <div class="input-box">
      <input type="text" id="csn-kw" />
      <button id="csn-search">Tìm kiếm</button>
    </div>
    <div class="csn-search-result">
    </div>
  </div>
  <div class="csn-player">
    <audio controls autoplay loop>
    </audio>
  </div>
  <div id="csn-template">
    <div class="csn-result-item hidden">
        <p class="song-name">
          N/A
        </p>
        <p class="song-info">
          <span class="artist">N/A</span>
          <span class="song-detail">
            <span class="duration">0:0</span>
            <span class="quality">Lossess</span>
          </span>
        </p>
      </div>
  </div>
</div>
